{% extends 'base.html' %}
{% block content %}
<h1>Panda Lovers</h1>

<!-- <style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: Green;
        border-radius:15px;
    }

    .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
        border-radius:10px;
        color:black;
    }

</style> -->

<div class="flex-container">
    {% for customer in customers %}
    <div class="card" style="width: 27rem;">
        <img class="card-img-top" src="{{ customer.avatar_url }}" alt="Card image cap" Style="width:400px;height:400px;">
        <div class="card-body">
            <h3 class="card-title">{{customer.id}} {{ customer.fname}} {{customer.lname }}</h3>
            <p class="card-text">
                {{ customer.email }}<br>
                {{ customer.phone }}
            </p>
            <a href="/update/{{ customer.id }}">Update Customer Info</a>
            <br></br>
            <a href="/delete/{{ customer.id }}">Delete Customer</a>
            <br></br>
            <a href="http://127.0.0.1:8000/" class="btn btn-primary" style="color:black;">CLOSE</a>
        </div>
    </div>
     {% endfor %}
</div>


{% endblock %}
